---
import ThemeSwitcher from "./ThemeSwitcher.astro";
---

<div class="">
  <div class="">
    <a href="/">Home</a>
    <a href="/wiki">Wiki</a>
    <a href="/tags">Tags</a>
  </div>
  <ThemeSwitcher />
</div>
