---
import ThemeSwitcher from "./ThemeSwitcher.astro";
---

<div class="w-[100vw] h-[5vh] flex justify-between items-center px-[5vw]">
  <div class="w-[40vw] flex justify-start items-center">
    <a href="/" class="mr-[5vw]">Home</a>
    <a href="/wiki" class="mr-[5vw]">Wiki</a>
    <a href="/tags" class="mr-[5vw]">Tags</a>
  </div>
  <ThemeSwitcher />
</div>
